/* Ilia Matrosov
 2016 */

@import 'reset.scss';

$var: .2s;

@mixin mx($color1,$color2) {
  background: $color1;
}

body{
}

/* MAIN CONTAINER */
.main-container{
  font-family: 'Open Sans', 'Arial', sans-serif;
  padding: 40px 60px;
  max-width: 980px;
  margin: 0 auto;

}

.main-container a{
  color: rgb(38, 196, 244);
  text-decoration: none;
}

.main-container a:hover{
  text-decoration: underline;
}

/* MAIN HEADER */
.main-header{
  margin-bottom: 50px;
  text-align: center;
}

.main-title {
  font-size: 40px;
  margin-bottom: 10px;
}

.main-title-caption{
  font-size: 15px;
}
/* END OF MAIN HEADER */

/* MAIN CONTENT */
.works{
  width: 100%;
}

.works-row{
  margin-bottom: 50px;
  position: relative;
  clear: both;
}

/* WORK */
.work{
  display: block;
}

.work-half{
  max-width: 46%;
  display: inline-block;
  margin: 0 0 0 50px;
  clear: both;
}
.work-half:first-of-type{
  margin: 0;
  float: left;
  clear: none;
}

.work__image-container{
  max-height: 700px;
  max-width: 100%;
  overflow: hidden;
  display: inline-block;
  -webkit-box-shadow: 0 1px 10px 0 rgba(0,0,0,0.75);
    -moz-box-shadow: 0 1px 10px 0 rgba(0,0,0,0.75);
    box-shadow: 0 1px 10px 0 rgba(0,0,0,0.75);
  margin: 0 auto 15px;
  font-size: 0;
  position: relative;
}
.work__image-container:hover  .work__secondary-links{
  opacity: 1;
}
.work__image {
  max-width: 100%;
}

.work__caption {
  font-size: 24px;
  //display: block;
  margin: 0 0 10px;
}

.work__secondary-links {
  font-size: 15px;
  position: absolute;
  bottom: 0px;
  right: 0;
  padding: 10px 20px;
  background-color: white;
  z-index: 10;
  opacity: 0;
  transition: opacity .3s;
}

.work__secondary-links:hover{
  opacity: 1;
}

.work__link{
  margin-right: 30px;
}

.work__link:last-child{
  margin-right: 0;
}

.work-description{
  font-size: 16px;
  line-height: 20px;
  max-width: 800px;
}

.work-horizontal .work__image-container{
  max-width: 490px;
  float: left;
  margin: 0 20px 50px 0;
}
/* END OF WORK */
/* END OF MAIN CONTENT */

/* MAIN FOOTER */
.main-footer{
  position: relative;
  clear: both;
}

.footer-hr{
  border-color: rgba(231, 231, 231, .3);
  margin-bottom: 20px;
  position: relative;
  left: 10px;
  right: 10px;

}

.footer-link{
  margin: 0 0 0 20px;
}

.footer-text{
  color: rgb(88, 88, 88);
  font-size: 16px;
  position: absolute;
  padding-right: 20px;
  right: 0;
}
/* END OF MAIN FOOTER */

/* END OF MAIN CONTAINER */


